<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="883758607392-cq1rhf0dbfkl1s3k4q7tuma7g4gtrso4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '883758607392-cq1rhf0dbfkl1s3k4q7tuma7g4gtrso4.apps.googleusercontent.com'
          });
        });
      }
    </script>

    <title>Login</title>
  </head>

  <body>

    <div class="container-fluid">
      <div class="row top-menu bg-dark">
      	<div class="col-md-8">
      		<a href="{{url_for('index')}}">
            <h1 class="text-light">Catalog App</h1>
      		</a>
      	</div>
      </div>

      <div class="container bg-light">
        <p>Sign in with Google</p>
        <div id="signinButton" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
      </div>
    </div>

<div id="result"></div>

    <script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
      
          $('#signinButton').attr('style', 'display: none');
          $.ajax({
            type: 'POST',
            url: '/gconnect?state={{STATE}}',
			      data: id_token,
            contentType: 'application/octet-stream; charset=utf-8',
            success:function(result){
              $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                   setTimeout(function() {
                    window.location.href = "/index";
                   }, 2000);
            },
            processData:false
          });
       
      }
  </script>
  </body>
</html>
